body {
    display: grid;
    grid-template-columns: 240px 1fr 240px;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header header header"
        "settingsShow mainbody intro";

}


header {
    grid-area: header;
}

main {   
    grid-area: mainbody;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "settingsSet settingsSet"
        "answer code"
        "answer spielfeld";
}

/*display rules*/
#idIntro {
    grid-area: intro;
}

/*display chosen settings*/
#settingsShow {
    grid-area: settingsShow;
}

/*set settings: who is guessing? how many colors? how many slots?*/
#settingsSet {
    grid-area: settingsSet;
}

/*enter next code*/
#idCode {
    grid-area: code;
}

/*display codes*/
#spielfeld {
    grid-area: spielfeld;
}

/*buttons for autoguess, autosolve, answer*/
#idAnswer {
    grid-area: answer;
}

footer {
    grid-area: footer;
}

.griddy {
    padding: 0.5em;
}











